@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f2f2f;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #a9b7c6;
}

a {
  color: #a9b7c6;
}

a:hover {
  color: #cbd9e8;
}